# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore output files
.out
a.out

# Ignore lex files
lex.yy.c

# Ignore all yacc files
y.tab.c
y.tab.h
